=form_for @board do |f|
  .row
    .col-sm-8
      .form-group.row
        =f.label :front_image, class: 'col-sm-4 col-form-label'
        .col-sm-8
          =f.file_field :front_image, class: 'form-control', placeholder: 'Nome do quadro...'
      .form-group.row
        =f.label :name, class: 'col-sm-4 col-form-label'
        .col-sm-8
          =f.text_field :name, class: 'form-control', placeholder: 'Nome do quadro...'
    .col-sm-4
      =image_tag(board_front_image_url(@board, "200x100"), alt: @board.name)
  .row
    .col-sm-12
      =f.submit t('actions.save'), class: 'btn btn-secondary btn-sm'
