/ Page Content
#master_container.container
  / Jumbotron Header
  %header.jumbotron.my-4
    %h1.display-3 Bem vindo(a) ao IBC Trello
    %p.lead Você precisa se organizar? Sua empresa, pessoal, estudos? Tarefas nunca ficarão tão em dia...
    =form_for :jobs do |f|
      .form-group.row
        =f.label :name, class: 'col-sm-2 col-form-label'
        .col-sm-10
          =f.text_field :name, class: 'form-control', placeholder: 'Nome do quadro...'
      .form-group.row
        .col-sm-10
          =f.submit t('actions.create'), class: 'btn btn-primary'
  .row
    .col-lg-12
      %h4=t('menu.boards')
  / Page Features
  .row.text-center
    - 12.times.each do
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          %img.card-img-top{alt: "", src: "http://placehold.it/500x325"}/
          .card-body
            %h4.card-title Card title
          .card-footer
            %a.btn.btn-primary{href: "#"} Find Out More!
  / /.row
/ /.container
/ Footer
%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white Copyright © Your Website 2019
