%header.jumbotron
  %h1.display-3 Bem vindo(a) ao IBC Trello
  %p.lead Você precisa se organizar? Sua empresa, pessoal, estudos? Tarefas nunca ficarão tão em dia...
  = render 'form'
.row
  .col-lg-12.count-of-boards
    = render partial: 'count_of_boards', locals: {count_of_boards: @boards.count}
/ Page Features
%div{class: "row text-center boards-list #{'is-searching' if params.has_key?(:q)}"}
  - @boards.each do |board|
    = render partial: 'board_card', locals: {board: board}

