%header.jumbotron.my-4
  %h4= t('.board_name', name: @board.name)
  = render 'form'
%header.jumbotron.my-4
  %h4 Planejamento
/ Page Features
.row.text-center
  - @board.steps.each do |step|
    = render partial: 'steps/form', locals: {step: step}
